
/* ===== Responsive dari progate ===== */
@media screen and (max-width: 1000px){   
    .content-group-latest-project{
        text-align: center;
    }
}

@media screen and (max-width: 670px){
    .latest-projects{
        padding: 50px;
    }
    .latest-projects-head{
        flex-direction: column;
        justify-content: center;
    }
    .latest-projects-head h2{
        margin-bottom: 15px;
    }
    .latest-projects-head li{
        padding: 10px
    }
    .content-group-latest-project{
        text-align: center;
    }
}

/* ===== Responsive Tambahan Latest Project ===== */
@media screen and (max-width: 780px){
    .latest-projects{
        padding: 50px;
    }
    .latest-projects-head li{
        padding: 10px
    }
    .content-group-latest-project{
        text-align: center;
    }
}
/*================================================*/
