/*Responsive tab dan smartphone navbar dan 2 judul besar*/
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .top-wrapper h3{
    font-size: 20px;
  }

  .top-wrapper h1{
    font-size: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .top-wrapper h3{
    font-size: 20px;
  }

  .top-wrapper h1{
    font-size: 50px;
  }
}



@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/*Responsive tab dan smartphone navbar dan 2 judul besar akhir*/

/* ===== Responsive dari progate ===== */
@media screen and (max-width: 1000px){   
    .content-group-latest-project{
        text-align: center;
    }
    /* MAIN CONTENT RESPONSIVE 1000PX */
    .main-left {
        padding-left: 100px;
    }
    .top > h1 {
        font-size: 24px;
    }
    .top > p {
        font-size: 12px;
    }
    .bottom {
        margin-top: 120px;
    }
    .bottom > h2 { 
        font-size : 50px;
    }
    .bottom > h3 {
        font-size: 20px;
    }
    .main-right {
        margin: 100px;
    }
    .main-content, .border {
        width: 365px;
        height: 410px;
    }
    .main-content:hover {
        width: 400px;
    }
    
    /*CONTENT START 1000px/ Content Here It's Work*/
    .container {
        max-width: 1000px;
        width: 100%;
    }
    
    .content{
        position: absolute;
        width: 796px;
        height: 450px;
        margin: 100px 100px 100px 104px;
        /* left: 100px; */
        /* top: 2628px;  */
    }
    .heading h1{
        margin-bottom: 15px;
    }
    .item-txt{
        width: 359px;
        padding: 15px 0px;
    }
    .img-content{
        position: absolute;
        width: 361px;
        height: 405px;
    }
    .border-img{
        position: absolute;
        width: 361px;
        height: 405px;
        top: 26px;
        right: 26px;
    }
    /*CONTENT END 1000px/ Content Here It's Work*/
    
}

@media screen and (max-width: 670px){
    .latest-projects{
        padding: 50px;
    }
    .latest-projects-head{
        flex-direction: column;
        justify-content: center;
    }
    .latest-projects-head h2{
        margin-bottom: 15px;
    }
    .latest-projects-head li{
        padding: 10px
    }
    .content-group-latest-project{
        text-align: center;
    }
    /* MAIN CONTENT RESPONSIVE 670PX */
    .main {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .main-left {
        width: 100%;
        padding: 100px 100px;
        text-align: center;
    }
    .top > h1 {
        font-size: 24px;
    }
    .top > p {
        font-size: 12px;
        line-height: 1.5;
    }
    .bottom {
        margin-top: 120px;
    }
    .bottom > h2 { 
        font-size : 50px;
        padding-bottom: 20px;
    }
    .bottom > h3 {
        font-size: 20px;
    }
    .main-right {
        margin: 100px 100px 0 100px;
    }
    .main-content, .border {
        width: 300px;
        height: 350px;
    }
    .main-content:hover {
        width: 330px;
    }
    
    /*CONTENT START 670px/ Content Here It's Work*/
    .container {
        max-width: 670px;
        width: 100%; 
      }
    
    .content{
        width: 359px;
        height: 931px;
        position: none;
        /* left: 156px; */
        
    }
    .item{
        width: 100%;
        margin: 0px auto;
        
    }
    .heading{
        text-align: center;
    }
    .heading h1{
        margin-bottom: 30px;
    }
    .item-txt{  
        width: 359px;
        text-align: center;
        
    }
    .item-img{
        width: 361px;
        height: 431px;
        position: relative;
        margin-bottom:  50px;
        
    }
    .img-content{
        width: 361px;
        height: 405px;
        text-align: center;
        position: absolute;
    }
    .border-img{
        width: 361px;
        height: 405px;
        position: absolute;
    }
    .item-txt p{
        font-size: 18px;
        line-height: 21px;
    }
    /*CONTENT END 670px/ Content Here It's Work*/
}

/* ===== Responsive Tambahan Latest Project ===== */
@media screen and (max-width: 780px){
    .latest-projects{
        padding: 50px;
    }
    .latest-projects-head li{
        padding: 10px
    }
    .content-group-latest-project{
        text-align: center;
    }
}
/*================================================*/
