*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* MAIN CONTENT CSS */
.main{
    width:100%;
    background-color: #323232;
    font-weight: 300;
    display: flex;
}

.main-left {
    padding: 100px 0 100px 200px;
    width: 50%;
}

.top > h1 {
    font-size: 36px;
    font-weight: 300;
    color: #EAEF58;
}

.top > p {
    padding-top: 30px;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

.bottom {
    margin-top: 300px;
}

.bottom h2 {
    font-weight: 300;
    font-size:60px;
    color:white;
}

.bottom h3 {
    font-weight: 300;
    color:#EAEF58;
}

.main-right {
    width:50%;
    margin: 100px 200px 100px 100px;
}

.main-content {
    position: absolute;
    object-fit: cover;
    width:500px;
    height: 560px;
    z-index: 1;
    border-radius: 30px;
}

.border {
    width: 500px;
    height: 560px;
    border: solid 1px #EAEF58;
    border-radius: 30px;
    position: relative;
    right:30px;
    top:30px;
}

.main-right > h4{
    position: relative;
    z-index: 3;
    color: white;
    font-size: 30px;
    top:500px;
    left: 50px;
}

.main-content:hover {
    width: 550px;
    transition:0.5s;
}
/* BATAS MAIN CONTENT */


/* ================================= Latest Project START ======================================= */
.latest-projects{
    background-color: #242424;
    width: 100%;
    padding: 100px;
    font-family: 'roboto', arial, sans-serif;
}

.latest-projects-head{                              /* ===== Latest Project Bagian Atas ===== */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #EAEF58;
}

.latest-projects-head h2{                           /* ===== Tulisan "Latest Project" ===== */
    font-size: 36px;
    font-weight: 600;
}

.latest-projects-head li{                           /* ===== Tulisan All, Nature, Industrial, More ===== */
    list-style: none;
    float: left;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.latest-projects-head li:hover{                     /* ===== Tulisan All, Nature, Industrial, More saat cursor diarahkan ===== */
    color: #EAEF58;
    transform: translateY(-5px);
}

.latest-projects-content{                           /* ===== Gambar-gambar Latest Project ===== */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
}

.latest-projects-pict{                               /* ===== Wrapper Gambar Latest Project ===== */
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0px 10px 30px 10px;
    width: 260px;
    height: 400px;
    border-radius: 20px;
    transition: 0.3s ease-out;
}

.latest-projects-pict:hover{                         /* ===== Wrapper Gambar Latest Project saat cursor diarahkan ===== */
    transform: scale(1.05);
}

.latest-projects-pict img{                          /* ===== Gambar dalam wrapper ===== */
    height: 110%;
}

.latest-projects-pict p {                           /* ===== Tulisan dalam wrapper ===== */
    background-color: rgba(0, 0, 0, 0.467);
    position: absolute;
    top: 290px;
    width: 80%;
    padding: 5px 0px 5px 30px;
    color: #f6ff00;
    font-weight: 300;
    font-size: 26px;
}
    /* ===== Untuk animasi gambar ===== */
    .content-group-latest-project{
        text-align: center;
        opacity: 0;
    }
    .Zindex{
        z-index: 1;
    }
    .display-none{
        display: none;
    }
    .display-appear{
        display: inline-block;
    }
    .elementToFade {
        animation: fade 1s linear forwards;
    }
    @keyframes fade {
        0% { opacity:0; }
        100% { opacity:1; }
    }
/* ========================================== Latest Project END ================================================= */

/*CONTENT START/ Content Here It's Work*/
body{
    background: hsl(0, 0%, 14%);
}
.container {
    width: 100%;
  }

.content{
    position: relative;
    width: 1028px;
    height: 595px;
    margin: 0px 206px;
    /* left: 206px; */
    /*top: 2500px;*/
}

.item{
    width: 50%;
    float: left; 
    margin: 0px;
}


.heading h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.05em;
    color: #EAEF58;
    margin-bottom: 25px;
    margin-top: 0px;  
}

.item-txt{
    width: 399px;
    color: #FFFFFF;
    padding: 25px 0px;
    text-align: justify;
}

.item-txt h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    margin-top: 0px;
}
.item-txt p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    
}

.img-content{
    position: absolute;
    width: 499px;
    height: 599px;
    overflow: hidden;
    background-size: cover;
    background: url(image/img-item.jpeg) 70% 30%;
    right: 0;
    top:0;
    border-radius: 20px; 
}
.border-img{
    position: absolute;
    width: 499px;
    height: 599px;
    border: 1px solid #EAEF58;
    border-radius: 20px;
    top: 36px;
    right: 36px;
}

/*CONTENT END / Content Here It's Work*/

/* bagian Client Comment */
.comment-wrapper{
    height: 469px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #242424;
    width: 100%;
}
.heading h2{
    height: 20px;
    font-size: 36px;
    color: #EAEF58;
}
.comments {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.comment{   
    display: inline-block; 
    background-color: #323232;
    border-radius: 20px;
    text-align: justify;
    width: 400px;
    padding: 30px 35px;
    height: 250px;
}
.comment h2{    
    color: #ffffff;
    font-size: 36px;
    height: 58px;
}

.comment h3{
    color: #ffffff;
    font-size: 20px;
    height: 63px;
    padding-top: 30px;
}
.comment p{
    color: #EAEF58;
    font-size: 12px;
    height: 63px;
    padding-top: 25px;
}

/* bagian Footer */
.fa {
    margin-right: 10px;
}

a{
    cursor: pointer;
}

a:hover{
    color: #EAEF58;
}

.footer{
    background-color: #323232;
    height: 200px;
    width: 100%;
}

.footer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list h2{
    color: #EAEF58;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0.15em;
    margin-left: 100px;
    padding: 80px 0px;
}

.footer-list ul{    
    margin-right: 50px;
}

.footer-list li{
    float: left;
    font-size: 18px;
    color: #ffffff;
    padding: 80px 50px;    
    list-style: none;
}
